<!DOCTYPE html>
<html>

  <head>
    <style>
    </style>
  </head>

  <body>
    <form action="/madlibs">
      <div>
        <label>Introduce a noun</label>
        <input type="text" name="name">
        <label>Introduce a person</label>
        <input type="text" name="person">
        
      </div>
  
      <div>
        <label>Choose a color</label>
        <select name="color">
  
          <option value="Red">
            Red
          </option>
  
          <option value="Blue">
            Blue
          </option>
  
          <option value="Yellow">
            Yellow
          </option>
  
  
        </select>
  
      </div>
  
      <div>
  
        <label>Select an adjective</label>
        <input type="radio" name="adjective" value="pretty">
        <label>pretty</label>
        <input type="radio" name="adjective" value="ugly">
        <label>ugly</label>
        <input type="radio" name="adjective" value="perfect">
        <label>perfect</label>

        <div>
          <input type="submit">
        </div>
      
      </form>
      
  </body>

</html>
